.div-form {
    display: flex;
    background-color: white;
    align-items: center;
    justify-content: center;
    border: 10rem;
}

.form-content {
    border-radius: 8px;
    padding: 30px 20px;
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: auto;
    flex-direction: column;
}